// Buttons
$account-btn-bg: #ebebeb;
$account-btn-bg--hover: #e8decc;

$verify-account: #f6f8fd;
$verify-account--hover: #e6ebf5;

// Locked content
$padlock-icon-stroke: #374349;

// Account cards
$card-divisor: #5a626f2f;

// Configuration option button
$option-btn--hover: #dfdfdf1e;
