.info-account-container {
    margin-top: 20px;
    height: 180px;
    position: relative;
    z-index: 1;

    .info-account-content {
        @include displayFlex(column, space-between, center);
        width: 100%;
        height: 100%;
        border-radius: 12px;
        padding: 25px 25px 23px 25px;
        box-shadow: 0px 2px 5px #00000014;
        background-color: #fff;

        .verify-user-status {
            @include displayFlex(column, space-around, center);
            width: 100%;
            height: 100%;

            font-size: 15px;
            font-weight: 700;

            .verify-process-btn {
                cursor: pointer;
                padding: 5px 10px;
                border-radius: 10px;
                transition: all 100ms ease-in-out;
                font-size: 15px;
                position: absolute;
                top: 20px;
                right: 33px;
                background-color: #f6f8fd;
                opacity: 0.75;

                &:hover {
                    opacity: 1;
                    background-color: #e6ebf5;
                }
            }
        }

        .section-blur {
            @include displayFlex(column, center, center);
            width: calc(100% - 24px);
            height: 100%;
            position: absolute;
            top: 0;
            left: 12px;
            backdrop-filter: blur(4px);
            z-index: 2;
            border-radius: 12px;
            background-color: #ffffffb9;

            .locked-content-desc {
                @include displayFlex(column, center, center);
                width: 60%;
                height: 60%;
                border-radius: 12px;
                font-weight: 700;

                svg {
                    width: 62px;
                    height: 62px;
                    stroke: #374349;
                }
            }
        }

        .verified-info-header {
            @include displayFlex(row, flex-start, center);
            width: 100%;
            height: 70px;
            position: relative;

            &::after {
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: -15px;
                border-radius: 50px;
                background-color: #5a626f2f;
            }

            .info-illustration {
                width: 64px;
                height: 64px;
            }

            .header-info {
                @include displayFlex(column, center, flex-start);
                width: calc(100% - 64px);
                height: 100%;
                padding-left: 20px;

                .header-title {
                    font-size: 24px;
                    font-weight: 700;
                    color: $text-color-white;

                    @media screen and (max-width: 1013px) {
                        font-size: 20px;
                    }

                    @media screen and (max-width: 376px) {
                        font-size: 18px;
                    }
                }

                .header-description {
                    font-size: 15px;
                    font-weight: 500;
                    color: #99a1ae;

                    @media screen and (max-width: 1141px) {
                        font-size: 13px;
                    }
                }
            }
        }

        .section-value {
            @include displayFlex(row, space-between, center);
            width: 100%;

            color: #666d77;
            font-weight: 600;

            .change-value-btn {
                @include displayFlex(null, center, center);
                width: 80px;
                height: 30px;
                font-size: 15px;
                cursor: pointer;
                border-radius: 5px;
                background-color: #ebebeb;
                transition: all 150ms ease-in-out;

                &:hover {
                    color: $logo-color-orange-text;
                    background-color: #e8decc;
                }
            }
        }
    }
}
