@import '../standard';

// Welcome screen
$welcome-logo-bg: $white;
$welcome-brand-font-color: $white;

// Login screen
$login-bg: #fefcff;
$password-eye-color: #888a91;

$bubble-validation-error: #ff142f;
$bubble-validation-error-bg: #ff142f15;
$bubble-validation-success: #0ec45a;
$bubble-validation-success-bg: #14ff7615;

$submit-btn-color: $white;
