// Standard colors
@import './partials/colors/standard';
// Login colors
@import './partials/colors/login-light-theme';
// Sidebar colors
@import './partials/colors/side-navbar-light-theme';
// General colors
@import './partials/colors/general-light-theme';
// Wallets colors
@import './partials/colors/wallets-light-theme';
// Settings colors
@import './partials/colors/configuration-light-theme';

// Cards
$card-bg: $white;
$card-bg-hover: #edf2f5;
$container-shadow: #00000014;

// Text
$text-color-1: #323232;
$text-color-2: #575757;
$text-color-2--hover: #686868;
$text-color-3: #888888;
$text-color-4: #666d77;
$text-color-grey-blue: #99a1ae;

// Status colors
$field-error: #e81f37;

// Backgrounds
$white-background-content-sections: #ffffffb9;
$white-background: #faf9f9;
$disabled-color: #e2e2e2;

// Logo
$logo-color-orange--strong: #ff9900;
$logo-color-orange--hover: #ffae00;
$logo-color-orange-text: #dd9700;
$logo-color-orange: #ffc000;
$logo-color-orange--15: #ffd34d;
$logo-color-orange--20: #ffd966;
$logo-color-orange--25: #fde6a1;
$logo-color-yellow: #ffec36;
$logo-color-yellow--10: #ffeb3617;
$logo-color-purple: #3d0052;
$logo-color-black: #121212;
