@import './partials/settingsView/navbar';
@import './partials/settingsView/account';
@import './partials/settingsView/preferences';
@import './partials/settingsView/settings';
@import './partials/settingsView/settingsModal';

.row {
    //padding: 0px 12px !important;

    .settings-options-container {
        width: 100%;
        height: auto;

        margin-top: 20px;

        .settings-options-content {
            width: 100%;
            height: auto;

            overflow: hidden;
            border-radius: 12px;
            background-color: #ffffff;
            box-shadow: 0px 2px 5px #00000014;

            .button-option {
                @include displayFlex(row, space-between, center);
                width: 100%;
                height: 70px;

                cursor: pointer;
                position: relative;
                padding: 0px 20px;
                transition: all 150ms ease-in-out;

                @media screen and (max-width: 480px) {
                    //@include displayFlex(column, center, flex-start);
                }

                &:hover {
                    background-color: #dfdfdf1e;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

                .button-information-container {
                    @include displayFlex(column, center, flex-start);
                    width: calc(100% - 80px);
                    height: 100%;
                    //background-color: red;

                    @media screen and (max-width: 480px) {
                        width: 100%;
                        height: auto;
                    }

                    .button-header {
                        @include displayFlex(row, center, center);

                        .button-header-icon {
                            width: 30px;
                        }

                        .button-header-title {
                            font-weight: 600;
                        }
                    }

                    .button-description {
                        margin-left: 30px;
                        font-size: 14px;
                        color: #8c8c8c;

                        @media screen and (max-width: 768px) {
                            font-size: 12px;
                        }

                        @media screen and (max-width: 576px) {
                            display: none;
                        }
                    }
                }

                .button-right-side {
                    //margin-right: 20px;
                    white-space: nowrap;
                    transition: all 150ms ease-in-out;

                    @media screen and (max-width: 480px) {
                        margin-left: 30px;
                    }

                    .expand-toggler {
                        width: 30px;
                        height: 30px;
                        transform: rotate(270deg);

                        svg {
                            width: 100%;
                            height: 100%;

                            stroke: #222222;
                        }
                    }
                }

                &::after {
                    content: '';
                    width: calc(100% - 40px);
                    height: 1px;

                    position: absolute;
                    left: 20px;
                    bottom: 0;
                    border-radius: 5px;
                    background-color: rgb(213, 213, 213);
                }
            }
        }
    }
}
