@import '../../node_modules/bootstrap/scss/bootstrap';
@import './partials/colors/colors';
@import 'fonts';
@import 'mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html,
body,
#root {
    height: 100%;
    background-color: var(--bg-body);
    overflow-x: hidden;
    position: relative;
    //Si se descomenta se imposibilita el scroll para recargar el navegador
}

p {
    margin-bottom: 0 !important;
}

main {
    @include displayFlex(column, null, null);
    @include customScrollBar();
    width: calc(100% - 240px);
    height: calc(100% - 65px);
    padding: 20px 20px 20px 20px;
    margin: 65px 10px 0px 240px;
    background-color: var(--bg-color);
    overflow-y: scroll;
    transition: all 170ms ease-in-out;

    @media screen and (max-width: 991px) {
        width: calc(100% - 75px);
        margin-left: 75px;
    }

    @media screen and (max-width: 656px) {
        width: 100%;
        height: calc(100% - 140px);
        margin: 65px 0px 0px 0px;
    }
}
