@import '../colors/colors';
@import '../../fonts';
@import '../../mixins';

.my-wallets-space {
    @include displayFlex(column, center, center);
    position: relative;
    margin-top: 20px;
    height: 350px;
    padding: 0;
    transition: all 170ms ease-in-out;

    @media screen and (max-width: 430px) {
        height: 375px;
    }

    .my-wallets-container {
        @include displayFlex(column, flex-start, center);
        width: 100%;
        height: 100%;
        //padding: 10px;
        border-radius: 12px;

        .section-title-container {
            position: relative;
            z-index: 1;
            width: 100%;
            height: auto;
            padding: 0px 12.5px 5px 12.5px;

            .section-title {
                width: 100%;
                padding: 20px;
                border-radius: 12px;
                //margin: 5px 0 0 10px;
                font-size: 18px;
                font-weight: bold;
                color: var(--text-color-1);
                box-shadow: 0px 2px 5px #00000014;
                background-color: var(--card-bg-color);
            }
        }

        .wallets-items-container {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;

            width: 100%;
            max-height: calc(100% - 75px);
            overflow: auto;

            opacity: 1;
            font-size: 18px;
            font-weight: bold;

            //webkit scroll style
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                background: var(--scrollbar-track);
                border-radius: 20px;
            }
            &::-webkit-scrollbar-thumb {
                background: var(--scrollbar-thumb);
                border-radius: 20px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: var(--scrollbar-thumb--hover);
            }

            .wallet-card-container {
                border-radius: 10px;
                padding: 15px 13px 0 13px;

                .wallet-card-content {
                    @include displayFlex(row, center, center);
                    width: 100%;
                    height: 60px;
                    padding: 20px;
                    cursor: pointer;
                    border-radius: 10px;
                    box-shadow: 0px 2px 5px #00000014;
                    color: #fff;
                    text-decoration: none;
                    transition: all 150ms ease-in-out;

                    &:hover {
                        background-color: #fafafa;
                    }

                    .wallet-icon {
                        width: 40px;
                        height: 40px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }

            .new-wallet-item-container {
                .new-wallet-item-content {
                    background-color: var(--card-bg-color);
                    font-weight: 600;
                    color: var(--text-color-2);
                    border-radius: 10px;
                    transition: all 150ms ease-in-out;

                    &:hover {
                        color: var(--text-color-1);
                        background-color: var(--card-bg-color-hover);
                    }
                }
            }
        }

        .fade {
            opacity: 0;
            transition: all 150ms ease-in-out;
        }

        .new-wallet-container {
            @include displayFlex(column, flex-start, flex-start);
            width: calc(100% - 25px);
            height: 0px;

            position: absolute;
            bottom: calc(100% - 64px);
            left: 13px;
            z-index: 0;

            overflow: hidden;
            padding: 20px;

            border-radius: 10px;
            background-color: var(--card-bg-color);
            box-shadow: 0px 2px 5px #00000014;
            transition: all 150ms ease-in-out;

            .close-btn {
                position: absolute;
                top: 15px;
                right: 18px;
                cursor: pointer;
                border-radius: 50%;
                transition: all 100ms ease-in-out;

                svg {
                    transform: rotateX(0deg);
                    transition: all 150ms ease-in-out;
                    stroke: var(--text-color-1);
                }

                &:hover {
                    svg {
                        transform: rotateX(180deg);
                    }
                }
            }

            .new-wallet-title {
                max-width: 90%;
                font-size: 16px;
                color: var(--text-color-1);
            }

            .wallet-options-container {
                @include displayFlex(column, flex-start, flex-start);
                width: 100%;
                height: calc(100% - 10px);
                margin-top: 15px;

                .wallet-option-item {
                    @include displayFlex(row, flex-start, center);
                    max-width: 300px;
                    width: 100%;
                    height: 50px;

                    cursor: pointer;
                    margin-bottom: 15px;
                    padding: 0px 20px;
                    border-radius: 10px;
                    background-color: var(--card-element-bg-color);
                    color: var(--text-color-1);
                    transition: all 150ms ease-in-out;

                    svg {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                        stroke: var(--text-color-1);
                    }

                    &:hover {
                        background-color: var(--card-element-bg-color-hover);
                    }

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }

        .open {
            //overflow: visible;
            height: calc(100% - 87px);
            bottom: 0px;

            /* @media screen and (max-width: 859px) {
				height: calc(100% - 105px);
				bottom: 20px;
			} */
        }
    }
}
