@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
:root[data-theme=theme-light] {
  --bg-color: #faf9f9;
  --card-bg-color: #fff;
  --card-bg-color-hover: #f0f0f0;
  --card-element-bg-color: #f3f3f3;
  --card-element-bg-color-hover: #f7f7f7;
  --language-bg-color: #fff;
  --language-bg-color-hover: #f0f0f0;
  --container-shadow: #00000014;
  --option-btn--hover: #dfdfdf1e;
  --text-color-1: #323232;
  --text-color-2: #575757;
  --text-color-3: #888888;
  --disabled-color: #e2e2e2;
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #88888863;
  --scrollbar-thumb--hover: #555;
  --rounded-corner: #fff;
  --border-table: #e2e2e2;
  --border-arrow: #a9a9a9;
}

:root[data-theme=theme-dark] {
  --bg-color: #47525b;
  --card-bg-color: #62707c;
  --card-bg-color-hover: #697987;
  --card-element-bg-color: #8d9aa7;
  --card-element-bg-color-hover: #98a5b3;
  --language-bg-color: #62707c;
  --language-bg-color-hover: #697987;
  --container-shadow: #00000014;
  --option-btn--hover: #dfdfdf1e;
  --text-color-1: #ffffff;
  --text-color-2: #dcdcdc;
  --text-color-3: #c4c4c4;
  --text-color-dark-grey-blue: #3c3e43;
  --disabled-color: #535f6a;
  --scrollbar-track: #404a52;
  --scrollbar-thumb: #373f46;
  --scrollbar-thumb--hover: #333a41;
  --rounded-corner: #62707c;
  --border-table: #535f6a;
  --border-arrow: #e8e8e8;
}

@font-face {
  font-family: "RooneySans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("RooneySans Bold"), url("../assets/fonts/rooneysans/RooneySansBold.woff") format("woff");
}
@font-face {
  font-family: "Scorno Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Scorno Bold"), url("../assets/fonts/scorno/Rosario Nocera - Scorno demo heavy.otf") format("woff");
}
@font-face {
  font-family: "Scorno";
  font-style: normal;
  font-weight: normal;
  src: local("Scorno"), url("../assets/fonts/scorno/Rosario Nocera - Scorno demo Medium.otf") format("woff");
}
.application-promo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 180px;
  margin-top: 20px;
  transition: all 170ms ease-in-out;
}
.application-promo-container .application-promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
  background-color: var(--card-bg-color);
  border-radius: 12px;
  box-shadow: 0px 2px 5px #00000014;
  background-color: #ffc000;
  background-image: url("../assets/images/app-promo.jpg");
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.application-promo-container .application-promo .application-promo-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 13px 20px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-1);
  background-color: var(--card-bg-color);
}
@media screen and (max-width: 418px) {
  .application-promo-container .application-promo .application-promo-title {
    font-size: 16px;
  }
}
.application-promo-container .application-promo .application-promo-download-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 47.4px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.application-promo-container .application-promo .application-promo-download-container img {
  cursor: pointer;
}
.application-promo-container .application-promo .application-promo-download-container .app-store-button {
  width: 137.1px;
  height: 47.4px;
  margin-right: 15px;
}
.application-promo-container .application-promo .application-promo-download-container .google-play-button {
  width: 160px;
  height: 45.5px;
}

/*# sourceMappingURL=application-promo.css.map */
