@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
:root[data-theme=theme-light] {
  --bg-color: #faf9f9;
  --card-bg-color: #fff;
  --card-bg-color-hover: #f0f0f0;
  --card-element-bg-color: #f3f3f3;
  --card-element-bg-color-hover: #f7f7f7;
  --language-bg-color: #fff;
  --language-bg-color-hover: #f0f0f0;
  --container-shadow: #00000014;
  --option-btn--hover: #dfdfdf1e;
  --text-color-1: #323232;
  --text-color-2: #575757;
  --text-color-3: #888888;
  --disabled-color: #e2e2e2;
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #88888863;
  --scrollbar-thumb--hover: #555;
  --rounded-corner: #fff;
  --actual-nav-color: #3d0052;
  --border-table: #e2e2e2;
  --border-arrow: #a9a9a9;
}

:root[data-theme=theme-dark] {
  --bg-color: #47525b;
  --card-bg-color: #62707c;
  --card-bg-color-hover: #697987;
  --card-element-bg-color: #8d9aa7;
  --card-element-bg-color-hover: #98a5b3;
  --language-bg-color: #62707c;
  --language-bg-color-hover: #697987;
  --container-shadow: #00000014;
  --option-btn--hover: #dfdfdf1e;
  --text-color-1: #ffffff;
  --text-color-2: #dcdcdc;
  --text-color-3: #c4c4c4;
  --text-color-dark-grey-blue: #3c3e43;
  --disabled-color: #535f6a;
  --scrollbar-track: #404a52;
  --scrollbar-thumb: #373f46;
  --scrollbar-thumb--hover: #333a41;
  --rounded-corner: #62707c;
  --actual-nav-color: #47525b;
  --border-table: #535f6a;
  --border-arrow: #e8e8e8;
}

:root[data-theme=theme-dark-high] {
  --bg-color: #1f2023;
  --card-bg-color: #27282d;
  --card-bg-color-hover: #32333a;
  --card-element-bg-color: #3a3b43;
  --card-element-bg-color-hover: #43444d;
  --language-bg-color: #27282d;
  --language-bg-color-hover: #32333a;
  --container-shadow: #00000014;
  --option-btn--hover: #dfdfdf1e;
  --text-color-1: #f8f8f8;
  --text-color-2: #dcdcdc;
  --text-color-3: #c4c4c4;
  --text-color-dark-grey-blue: #838996;
  --disabled-color: #535f6a;
  --scrollbar-track: #404a52;
  --scrollbar-thumb: #373f46;
  --scrollbar-thumb--hover: #333a41;
  --rounded-corner: #27282d;
  --actual-nav-color: #1f2023;
  --border-table: #535f6a;
  --border-arrow: #e8e8e8;
}

@font-face {
  font-family: "RooneySans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("RooneySans Bold"), url("../assets/fonts/rooneysans/RooneySansBold.woff") format("woff");
}
@font-face {
  font-family: "Scorno Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Scorno Bold"), url("../assets/fonts/scorno/Rosario Nocera - Scorno demo heavy.otf") format("woff");
}
@font-face {
  font-family: "Scorno";
  font-style: normal;
  font-weight: normal;
  src: local("Scorno"), url("../assets/fonts/scorno/Rosario Nocera - Scorno demo Medium.otf") format("woff");
}
.balance-card-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: fit-content;
  transition: all 170ms ease-in-out;
  /* &:hover .balance-card-bottom .expand-toggler {
  	opacity: 1 !important;
  	visibility: visible !important;
  } */
}
@media screen and (max-width: 767px) {
  .balance-card-space {
    margin-top: 20px;
  }
  .balance-card-space:first-child {
    margin-top: 10px;
  }
}
.balance-card-space .balance-card-coin {
  position: absolute;
  top: 10px;
  left: 28px;
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.balance-card-space .balance-card-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.balance-card-space .balance-card-container img {
  width: 60px;
  height: 60px;
  margin: 50px 10px 10px 0;
  filter: drop-shadow(0px 0px 5px #0000001f);
}
.balance-card-space .balance-card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  position: relative;
  padding-left: 15px;
  padding-top: 12.5px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color-2);
  overflow: hidden;
  border-radius: 0 0 12px 12px;
  box-shadow: 0px 2px 5px #00000014;
  background-color: var(--card-bg-color);
  transition: all 170ms ease-in-out;
}
.balance-card-space .balance-card-bottom .secondary-curreny-value {
  padding: 12.5px 0;
}
.balance-card-space .balance-card-bottom .expand-toggler {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  z-index: 2;
  right: 15px;
  border-radius: 50%;
  cursor: pointer;
  /* opacity: 0;
  visibility: hidden; */
}
.balance-card-space .balance-card-bottom .expand-toggler svg {
  position: relative;
  z-index: 1;
  stroke: var(--text-color-1);
  transition: all 300ms ease-in-out;
}
.balance-card-space .balance-card-bottom .expand-toggler .rotate {
  transform: rotateX(180deg);
}
.balance-card-space .expanded {
  height: 90px;
}

.arg-flag {
  background: linear-gradient(90deg, #338af3 0%, #094af7 100%);
}

.eur-flag {
  background: linear-gradient(90deg, #004aa2 0%, #001f45 100%);
}

.usd-flag {
  background: linear-gradient(90deg, #2da06e 0%, #147a4d 100%);
}

.btc-flag {
  background: linear-gradient(90deg, #ffae00 0%, #f57f00 100%);
}

/*# sourceMappingURL=balances.css.map */
