@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@font-face {
  font-family: "RooneySans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("RooneySans Bold"), url("../assets/fonts/rooneysans/RooneySansBold.woff") format("woff");
}
@font-face {
  font-family: "Scorno Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Scorno Bold"), url("../assets/fonts/scorno/Rosario Nocera - Scorno demo heavy.otf") format("woff");
}
@font-face {
  font-family: "Scorno";
  font-style: normal;
  font-weight: normal;
  src: local("Scorno"), url("../assets/fonts/scorno/Rosario Nocera - Scorno demo Medium.otf") format("woff");
}
.welcome-default-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fefcff;
}
.welcome-default-container .circle-open-key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffec30;
  background: linear-gradient(180deg, #ffec30 0%, #ffa500 100%);
  transition: all 0.7s ease;
  -webkit-animation: growUp 1s;
  -moz-animation: growUp 1s;
  -ms-animation: growUp 1s;
  -o-animation: growUp 1s;
  animation: growUp 500ms ease-in-out;
}
.welcome-default-container .circle-open-key .welcome-logo {
  width: 300px;
  height: auto;
  padding: 30px 40px;
  background-color: #fff;
  border-radius: 20px;
  visibility: visible;
  opacity: 1;
  animation: fadeInFromLeft 1000ms;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.063));
  transition: all 250ms ease-in-out;
}
.welcome-default-container .circle-open-key .welcome-logo-hide {
  visibility: hidden;
  opacity: 0;
}
.welcome-default-container .circle-open-key .welcome-brand {
  width: 200px;
  height: auto;
  text-align: center;
  visibility: visible;
  opacity: 1;
  font-family: "RooneySans Bold";
  font-weight: normal;
  font-size: 64px;
  color: #fff;
  animation: fadeInFromRight 1000ms;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.063);
  transition: all 250ms ease-in-out;
}
.welcome-default-container .circle-open-key .welcome-brand-hide {
  visibility: hidden;
  opacity: 0;
}
.welcome-default-container .first-screen-transform {
  width: 40%;
}
.welcome-default-container .form-container {
  width: 0%;
  overflow: hidden;
  transition: all 0.7s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-default-container .open-form-container {
  width: 60%;
  height: 100%;
  overflow: auto;
  box-shadow: -5px 0px 20px 0px #0000000a;
}
@media screen and (max-width: 960px) {
  .welcome-default-container .first-screen-transform {
    width: 0%;
  }
  .welcome-default-container .open-form-container {
    width: 100%;
  }
}

@-webkit-keyframes growUp {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes growUp {
  0% {
    /* transform: scale(0);
    border-radius: 50%; */
    clip-path: circle(0% at calc(100% - 0px - var(--page-component-margin, 10px)) calc(0px + var(--page-component-margin, 10px)));
  }
  100% {
    /* transform: scale(1);
    border-radius: 0%; */
    clip-path: circle(150% at calc(100% - 0px - var(--page-component-margin, 10px)) calc(0px + var(--page-component-margin, 10px)));
  }
}
@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@font-face {
  font-family: "RooneySans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("RooneySans Bold"), url("../assets/fonts/rooneysans/RooneySansBold.woff") format("woff");
}
@font-face {
  font-family: "Scorno Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Scorno Bold"), url("../assets/fonts/scorno/Rosario Nocera - Scorno demo heavy.otf") format("woff");
}
@font-face {
  font-family: "Scorno";
  font-style: normal;
  font-weight: normal;
  src: local("Scorno"), url("../assets/fonts/scorno/Rosario Nocera - Scorno demo Medium.otf") format("woff");
}
.login-form-brand-text {
  font-family: "RooneySans Bold";
  font-weight: normal;
  font-size: 20px;
  color: #ffc000;
}

.login-form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 400px;
  height: 500px;
  font-size: 46px;
  transition: all 150ms ease-in-out;
}
@media screen and (max-width: 490px) {
  .login-form-content {
    width: 75%;
  }
}
@media screen and (max-height: 645px) {
  .login-form-content {
    justify-content: center;
  }
}
.login-form-content .login-form-title {
  margin-top: 10px;
  height: auto;
}
.login-form-content .login-form-title h1 {
  white-space: nowrap;
  font-weight: 800;
}
.login-form-content .login-form-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.login-form-content .login-form-fields .login-form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}
.login-form-content .login-form-fields .login-form-field .eye-icon {
  width: 24px;
  height: 20px;
  position: absolute;
  right: 0;
  z-index: 1;
  cursor: pointer;
  stroke: #888a91;
}
.login-form-content .login-form-fields .login-form-field label {
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  color: #a5a7af;
  top: 10px;
  transition: all 100ms ease-in-out;
  z-index: 0;
}
.login-form-content .login-form-fields .login-form-field .login-form-input {
  width: 100%;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #a5a7af;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  transition: all 150ms ease-in-out;
  z-index: 1;
}
.login-form-content .login-form-fields .login-form-field .login-form-input:focus {
  outline: none;
  border-color: #ffc000;
}
.login-form-content .login-form-fields .login-form-field .login-form-input:focus + label {
  top: -14px;
  color: #ffc000;
}
.login-form-content .login-form-fields .login-form-field .login-form-input:-webkit-autofill {
  transition: background-color 50000s ease-in-out 0s !important;
}
.login-form-content .login-form-fields .login-form-field .login-form-input-active {
  font-size: 13px;
  top: -14px;
}
.login-form-content .login-form-fields .login-form-field .login-form-field--error {
  color: #e81f37;
}
.login-form-content .login-form-fields .validation-bubbles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  height: 40px;
  transition: all 150ms ease-in-out;
  flex-wrap: wrap;
}
@media screen and (max-width: 490px) {
  .login-form-content .login-form-fields .validation-bubbles-container {
    height: 80px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 266px) {
  .login-form-content .login-form-fields .validation-bubbles-container {
    height: 160px;
    justify-content: flex-start;
  }
}
.login-form-content .login-form-fields .validation-bubbles-container .validation-bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  border-radius: 10px;
  background-color: #ff142f15;
  color: #ff142f;
  font-weight: 700;
  font-size: 12px;
  margin-right: 5px;
  transition: all 150ms ease-in-out;
}
@media screen and (max-width: 490px) {
  .login-form-content .login-form-fields .validation-bubbles-container .validation-bubble {
    margin-right: 10px;
  }
}
@media screen and (max-width: 266px) {
  .login-form-content .login-form-fields .validation-bubbles-container .validation-bubble {
    width: 100%;
    margin-right: 0;
  }
}
.login-form-content .login-form-fields .validation-bubbles-container .password-validation-bubble--active {
  background-color: #14ff7615;
  color: #0ec45a;
}
.login-form-content .login-form-fields .input-error {
  color: #e81f37;
  margin-top: 6px;
  font-size: 12px;
  top: 45px;
}
.login-form-content .login-form-fields .login-forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 15px;
  font-size: 14px;
  color: #ffc000;
  font-weight: 600;
  text-shadow: 0px 0px 1px #55370012;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.login-form-content .login-form-fields .login-forgot-password:hover {
  color: #ffae00;
}
.login-form-content div {
  width: 100%;
}
.login-form-content div .login-submit-btn {
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background-color: #ffd34d;
  transition: all 150ms ease-in-out;
}
.login-form-content div .login-submit-btn:hover {
  background-color: #ffc000;
}
.login-form-content div .login-submit-btn--disabled {
  cursor: default;
  background-color: #dddddd;
}
.login-form-content div .login-submit-btn--disabled:hover {
  background-color: #dddddd;
}
.login-form-content div .login-register-btn {
  width: 100%;
  margin-top: 15px;
  font-size: 15px;
  color: #a3a3a3;
  font-weight: 600;
  text-align: center;
}
.login-form-content div .login-register-btn span {
  color: #ffc000;
  text-shadow: 0px 0px 1px #55370012;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.login-form-content div .login-register-btn span:hover {
  color: #ffae00;
}

/*# sourceMappingURL=login.css.map */
