@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
:root[data-theme=theme-light] {
  --bg-color: #faf9f9;
  --card-bg-color: #fff;
  --card-bg-color-hover: #f0f0f0;
  --card-element-bg-color: #f3f3f3;
  --card-element-bg-color-hover: #f7f7f7;
  --language-bg-color: #fff;
  --language-bg-color-hover: #f0f0f0;
  --container-shadow: #00000014;
  --option-btn--hover: #dfdfdf1e;
  --text-color-1: #323232;
  --text-color-2: #575757;
  --text-color-3: #888888;
  --disabled-color: #e2e2e2;
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #88888863;
  --scrollbar-thumb--hover: #555;
  --rounded-corner: #fff;
  --border-table: #e2e2e2;
  --border-arrow: #a9a9a9;
}

:root[data-theme=theme-dark] {
  --bg-color: #47525b;
  --card-bg-color: #62707c;
  --card-bg-color-hover: #697987;
  --card-element-bg-color: #8d9aa7;
  --card-element-bg-color-hover: #98a5b3;
  --language-bg-color: #62707c;
  --language-bg-color-hover: #697987;
  --container-shadow: #00000014;
  --option-btn--hover: #dfdfdf1e;
  --text-color-1: #ffffff;
  --text-color-2: #dcdcdc;
  --text-color-3: #c4c4c4;
  --text-color-dark-grey-blue: #3c3e43;
  --disabled-color: #535f6a;
  --scrollbar-track: #404a52;
  --scrollbar-thumb: #373f46;
  --scrollbar-thumb--hover: #333a41;
  --rounded-corner: #62707c;
  --border-table: #535f6a;
  --border-arrow: #e8e8e8;
}

@font-face {
  font-family: "RooneySans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("RooneySans Bold"), url("../assets/fonts/rooneysans/RooneySansBold.woff") format("woff");
}
@font-face {
  font-family: "Scorno Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Scorno Bold"), url("../assets/fonts/scorno/Rosario Nocera - Scorno demo heavy.otf") format("woff");
}
@font-face {
  font-family: "Scorno";
  font-style: normal;
  font-weight: normal;
  src: local("Scorno"), url("../assets/fonts/scorno/Rosario Nocera - Scorno demo Medium.otf") format("woff");
}
header {
  width: calc(100% - 240px);
  height: 65px;
  background-color: var(--card-bg-color);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transition: all 170ms ease-in-out;
}
@media screen and (max-width: 991px) {
  header {
    width: calc(100% - 75px);
  }
}
@media screen and (max-width: 656px) {
  header {
    width: 100%;
  }
}
header .top-navbar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-shadow: 10px 1px 10px -2px var(--container-shadow);
}
header .top-navbar-container .top-navbar-logo {
  width: fit-content;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .top-navbar-container .top-navbar-logo li {
  width: fit-content;
  height: 100%;
}
header .top-navbar-container .top-navbar-logo li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  text-decoration: none;
  color: #000;
  position: absolute;
  left: -210px;
  transition: all 170ms ease-in-out;
}
@media screen and (max-width: 991px) {
  header .top-navbar-container .top-navbar-logo li a {
    left: 20px;
  }
}
header .top-navbar-container .top-navbar-logo li a img {
  width: 100%;
  height: 100%;
}
header .top-navbar-container .top-navbar-logo li a h1 {
  margin-bottom: 0;
  font-family: "RooneySans Bold";
  font-weight: normal;
  font-size: 32px;
  color: #ffc000;
}
header .top-navbar-container .top-navbar-account {
  padding: 0;
  margin: 0;
}
header .top-navbar-container .top-navbar-account li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-right: 20px;
  /* @media screen and (max-width: 500px) {
  	.navbar-account-image {
  		position: absolute;
  		left: -55px;
  	}

  	span {
  		margin: 8px 0 0 0;
  	}
  } */
}
@media screen and (max-width: 991px) {
  header .top-navbar-container .top-navbar-account li {
    padding-right: 10px;
  }
}
@media screen and (max-width: 410px) {
  header .top-navbar-container .top-navbar-account li span {
    display: none;
  }
}
header .top-navbar-container .top-navbar-account li .navbar-account-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .top-navbar-container .top-navbar-account li span {
  margin-right: 15px;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 16px;
  color: var(--text-color-1);
}

:root[data-theme=theme-light] {
  --bg-color: #faf9f9;
  --card-bg-color: #fff;
  --card-bg-color-hover: #f0f0f0;
  --card-element-bg-color: #f3f3f3;
  --card-element-bg-color-hover: #f7f7f7;
  --language-bg-color: #fff;
  --language-bg-color-hover: #f0f0f0;
  --container-shadow: #00000014;
  --option-btn--hover: #dfdfdf1e;
  --text-color-1: #323232;
  --text-color-2: #575757;
  --text-color-3: #888888;
  --disabled-color: #e2e2e2;
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #88888863;
  --scrollbar-thumb--hover: #555;
  --rounded-corner: #fff;
  --border-table: #e2e2e2;
  --border-arrow: #a9a9a9;
}

:root[data-theme=theme-dark] {
  --bg-color: #47525b;
  --card-bg-color: #62707c;
  --card-bg-color-hover: #697987;
  --card-element-bg-color: #8d9aa7;
  --card-element-bg-color-hover: #98a5b3;
  --language-bg-color: #62707c;
  --language-bg-color-hover: #697987;
  --container-shadow: #00000014;
  --option-btn--hover: #dfdfdf1e;
  --text-color-1: #ffffff;
  --text-color-2: #dcdcdc;
  --text-color-3: #c4c4c4;
  --text-color-dark-grey-blue: #3c3e43;
  --disabled-color: #535f6a;
  --scrollbar-track: #404a52;
  --scrollbar-thumb: #373f46;
  --scrollbar-thumb--hover: #333a41;
  --rounded-corner: #62707c;
  --border-table: #535f6a;
  --border-arrow: #e8e8e8;
}

@font-face {
  font-family: "RooneySans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("RooneySans Bold"), url("../assets/fonts/rooneysans/RooneySansBold.woff") format("woff");
}
@font-face {
  font-family: "Scorno Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Scorno Bold"), url("../assets/fonts/scorno/Rosario Nocera - Scorno demo heavy.otf") format("woff");
}
@font-face {
  font-family: "Scorno";
  font-style: normal;
  font-weight: normal;
  src: local("Scorno"), url("../assets/fonts/scorno/Rosario Nocera - Scorno demo Medium.otf") format("woff");
}
.side-navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 240px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--card-bg-color);
  padding: 15px 0px;
  box-shadow: 1px 0px 10px -2px var(--container-shadow);
  transition: all 170ms ease-in-out;
  resize: horizontal;
}
@media screen and (max-width: 991px) {
  .side-navbar-container {
    width: 75px;
  }
}
@media screen and (max-width: 656px) {
  .side-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: auto;
    bottom: 0;
    height: 75px;
  }
}
.side-navbar-container .side-navbar-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 60px;
  list-style: none;
}
@media screen and (max-width: 991px) {
  .side-navbar-container .side-navbar-links {
    margin-top: 50px;
  }
}
@media screen and (max-width: 656px) {
  .side-navbar-container .side-navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    top: 100%;
    margin: 0;
  }
  .side-navbar-container .side-navbar-links::before, .side-navbar-container .side-navbar-links::after {
    display: none;
  }
}
.side-navbar-container .side-navbar-links::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--rounded-corner);
  position: absolute;
  top: 65px;
  right: -12px;
  border-bottom-right-radius: 100%;
  z-index: -1;
}
.side-navbar-container .side-navbar-links::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--bg-color);
  position: absolute;
  top: 65px;
  right: -12px;
  border-top-left-radius: 100%;
  z-index: -1;
}
.side-navbar-container .side-navbar-links li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 85%;
  height: 50px;
  margin-top: 10px;
  z-index: 2;
}
.side-navbar-container .side-navbar-links li:first-child a svg {
  margin-bottom: 2px;
}
@media screen and (max-width: 656px) {
  .side-navbar-container .side-navbar-links li {
    width: 55px;
    height: 50px;
    margin-top: 0;
  }
  .side-navbar-container .side-navbar-links li:first-child a svg {
    margin-bottom: 0px;
  }
}
.side-navbar-container .side-navbar-links li .nav-element-icon, .side-navbar-container .side-navbar-links li .nav-element-icon-special {
  width: auto;
  height: 23px;
  margin-bottom: 1px;
  margin-right: 10px;
  stroke: var(--text-color-1);
  transition: all 100ms ease-in-out;
}
@media screen and (max-width: 991px) {
  .side-navbar-container .side-navbar-links li .nav-element-icon, .side-navbar-container .side-navbar-links li .nav-element-icon-special {
    margin: 0px 0px 0px 10px;
  }
}
.side-navbar-container .side-navbar-links li .nav-element-icon-special {
  stroke: none;
  fill: var(--text-color-1);
}
.side-navbar-container .side-navbar-links li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  list-style: none;
  color: var(--text-color-1);
  border-radius: 10px;
  text-decoration: none;
  font-family: "RooneySans Bold";
  font-weight: 600;
  font-size: 15px;
  line-height: 50px;
  transition: all 150ms ease-in-out;
}
@media screen and (max-width: 656px) {
  .side-navbar-container .side-navbar-links li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .side-navbar-container .side-navbar-links li a .nav-element-icon, .side-navbar-container .side-navbar-links li a .nav-element-icon-special {
    margin: 0;
  }
  .side-navbar-container .side-navbar-links li a .log-out-icon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 991px) {
  .side-navbar-container .side-navbar-links li a:hover span {
    display: none;
  }
}
.side-navbar-container .side-navbar-links li a:hover .nav-element-icon, .side-navbar-container .side-navbar-links li a:hover .nav-element-icon-special {
  stroke: #ffae00;
}
.side-navbar-container .side-navbar-links li a:hover .nav-element-icon-special {
  fill: #ffae00;
}
.side-navbar-container .side-navbar-links li a span {
  white-space: nowrap;
}
@media screen and (max-width: 991px) {
  .side-navbar-container .side-navbar-links li a span {
    display: none;
  }
}
.side-navbar-container .side-navbar-links li .active {
  color: #fff;
}
.side-navbar-container .side-navbar-links li .active:hover {
  color: #fff;
}
.side-navbar-container .side-navbar-links li .active .nav-element-icon, .side-navbar-container .side-navbar-links li .active .nav-element-icon-special {
  stroke: #ffae00;
  stroke-width: 1.5;
}
.side-navbar-container .side-navbar-links li .active .nav-element-icon-special {
  fill: #ffae00;
}
.side-navbar-container .side-navbar-links .log-out {
  position: absolute;
  bottom: 10px;
}
@media screen and (max-width: 656px) {
  .side-navbar-container .side-navbar-links .log-out {
    position: relative;
    bottom: 0;
  }
}
.side-navbar-container .side-navbar-links .active-navlink-background {
  width: 220px;
  height: 50px;
  position: absolute;
  left: -300px;
  z-index: 1;
  background-color: #3d0052;
  transition: all 150ms ease-in-out;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
@media screen and (max-width: 991px) {
  .side-navbar-container .side-navbar-links .active-navlink-background {
    width: 55px;
    height: 50px;
    border-radius: 10px;
  }
  .side-navbar-container .side-navbar-links .active-navlink-background .active-navlink-background-stick {
    display: none;
  }
  .side-navbar-container .side-navbar-links .active-navlink-background::before {
    display: none;
  }
  .side-navbar-container .side-navbar-links .active-navlink-background::after {
    display: none;
  }
}
.side-navbar-container .side-navbar-links .active-navlink-background .active-navlink-background-stick {
  width: 30px;
  height: 100px;
  background-color: #3d0052;
  position: absolute;
  z-index: 1;
  top: -25px;
  left: 0;
}
.side-navbar-container .side-navbar-links .active-navlink-background::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  top: -30px;
  left: 0;
  background-color: var(--card-bg-color);
  border-bottom-left-radius: 25px;
  transition: all 150ms ease-in-out;
}
.side-navbar-container .side-navbar-links .active-navlink-background::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
  left: 0;
  background-color: var(--card-bg-color);
  border-top-left-radius: 25px;
  transition: all 150ms ease-in-out;
}
.side-navbar-container .bottom-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: fit-content;
  bottom: 20px;
}
@media screen and (max-width: 656px) {
  .side-navbar-container .bottom-links {
    position: initial;
    width: 55px;
    height: 50px;
    margin: 0px 25px 0px 5px;
    bottom: 0px;
  }
  .side-navbar-container .bottom-links li {
    width: 100%;
  }
  .side-navbar-container .bottom-links li a {
    padding-left: 0px;
  }
}

/*# sourceMappingURL=navbar.css.map */
