.wallets-row {
  height: auto;
  margin-bottom: -3px;
  /* .carrousel-title {
  } */
}
.wallets-row:last-child {
  margin-bottom: 0;
}
.wallets-row .alice-carousel {
  position: relative;
  width: calc(100% + 20px);
  margin-left: -10px;
}
.wallets-row .alice-carousel div .alice-carousel__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
}
.wallets-row .alice-carousel .alice-carousel__prev-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  transition: all 150s ease-in-out;
}
.wallets-row .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper .alice-carousel__prev-btn-item {
  background: transparent;
  color: #000000;
}
.wallets-row .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper .alice-carousel__prev-btn-item:hover {
  background: linear-gradient(90deg, #faf9f9 0%, #a91f1f00 100%);
}
.wallets-row .alice-carousel .alice-carousel__next-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 130px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  transition: all 150ms ease-in-out;
}
.wallets-row .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-wrapper .alice-carousel__next-btn-item {
  background: transparent;
  color: #000000;
}
.wallets-row .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-wrapper .alice-carousel__next-btn-item:hover {
  background: linear-gradient(90deg, #a91f1f00 0%, #faf9f9 100%);
}
.wallets-row .alice-carousel .arrow-size, .wallets-row .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper, .wallets-row .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper .alice-carousel__prev-btn-item, .wallets-row .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-wrapper, .wallets-row .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-wrapper .alice-carousel__next-btn-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 150s ease-in-out;
}
.wallets-row .alice-carousel .alice-carousel__dots {
  margin: 5px;
}

.alice-carousel__stage-item {
  padding: 0 10px;
}
.alice-carousel__stage-item .wallet-carrousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  text-decoration: none;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
  -webkit-user-drag: none;
  -moz-user-drag: none;
  cursor: pointer;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  transition: all 150ms ease-in-out;
}
.alice-carousel__stage-item .wallet-carrousel-container:hover {
  filter: brightness(1.1);
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  padding-left: 20px;
  background-color: #ffffff;
  overflow: hidden;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .description .wallet-carrousel-item-image {
  width: auto;
  height: 50px;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .description .wallet-carrousel-item-emoji {
  position: absolute;
  z-index: 1;
  bottom: 18px;
  left: 20px;
  filter: grayscale(20%);
  font-size: 40px;
  line-height: 1;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .description .wallet-carrousel-item-name {
  position: relative;
  z-index: 2;
  margin-bottom: 7px;
  font-size: 28px;
  font-weight: 700;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .balance {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 18px;
  padding-right: 20px;
  margin-top: 7px;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .balance .wallet-carrousel-item-currency {
  font-weight: 600;
  margin-right: 5px;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .balance .wallet-carrousel-item-balance {
  font-weight: 700;
}

.__inactive {
  display: none !important;
}

.alice-carousel__dots-item.__active {
  background-color: #ffc000 !important;
}

.alice-carousel__dots-item {
  background-color: #fde6a1 !important;
}

/*# sourceMappingURL=wallets.css.map */
