.row {
  margin: 0;
}
.row .wallet-inform-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .row .wallet-inform-container {
    flex-direction: column-reverse;
  }
}
.row .wallet-inform-container .wallets-table-container {
  height: 366px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #00000014;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 20px 5px;
}
@media screen and (max-width: 1270px) {
  .row .wallet-inform-container .wallets-table-container .wallets-table-content {
    overflow-x: auto;
  }
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content::-webkit-scrollbar {
  scroll-margin: 5px 10px;
  width: 5px;
  height: 5px;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content::-webkit-scrollbar-thumb {
  background: #88888863;
  border-radius: 20px;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-header .header-column-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 145px;
  padding: 2px 10px;
  font-weight: 600;
  border-bottom: 1px gainsboro solid;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-header .header-column-item div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 18px;
  height: 100%;
  transform: scale(0.7);
  margin-bottom: 5px;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-header .header-column-item div .order-up,
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-header .header-column-item div .order-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-header .header-column-item div .order-up svg,
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-header .header-column-item div .order-down svg {
  width: 24px;
  height: 18px;
  cursor: pointer;
  fill: #a9a9a9;
  stroke: none;
  transition: all 100ms ease-in-out;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-header .header-column-item div .order-up svg:hover,
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-header .header-column-item div .order-down svg:hover {
  fill: #ffc000;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-header .header-column-item div .order-up svg polyline,
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-header .header-column-item div .order-down svg polyline {
  width: 10px;
  height: 10px;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
}
@media screen and (max-width: 1270px) {
  .row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-body {
    align-items: flex-start;
  }
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-body .wallets-table-body--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 49px;
  border-bottom: 1px #dcdcdc solid;
}
@media screen and (max-width: 1270px) {
  .row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-body .wallets-table-body--row {
    min-width: 580px;
  }
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-body .wallets-table-body--row:last-child {
  border-bottom: none;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-body .wallets-table-body--row div {
  min-width: 145px;
  padding: 10px 10px;
  font-size: 14px;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-body .wallets-table-body--row div a {
  color: #000;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.row .wallet-inform-container .wallets-table-container .wallets-table-content .wallets-table-body .wallets-table-body--row div a:hover {
  color: #ffc000;
}
.row .wallet-inform-container .general-balance-container {
  height: 366px;
  padding: 0px 0px 0px 20px;
}
@media screen and (max-width: 767px) {
  .row .wallet-inform-container .general-balance-container {
    height: 100px;
    margin-bottom: 20px;
    padding: 0;
  }
}
.row .wallet-inform-container .general-balance-container .general-balance-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #fff;
  color: #575757;
  box-shadow: 0px 2px 5px #00000014;
}
@media screen and (max-width: 767px) {
  .row .wallet-inform-container .general-balance-container .general-balance-content {
    padding: 10px 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.row .wallet-inform-container .general-balance-container .general-balance-content svg {
  width: 100%;
  height: 150px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .row .wallet-inform-container .general-balance-container .general-balance-content svg {
    display: none;
  }
}
@media screen and (max-width: 1180px) {
  .row .wallet-inform-container .general-balance-container .general-balance-content h5 {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .row .wallet-inform-container .general-balance-container .general-balance-content h5 {
    font-size: 20px;
    margin-top: 12px;
  }
}
.row .wallet-inform-container .general-balance-container .general-balance-content .total-balance-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: fit-content;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .row .wallet-inform-container .general-balance-container .general-balance-content .total-balance-container {
    width: fit-content;
    margin: 0;
  }
}
.row .wallet-inform-container .general-balance-container .general-balance-content .total-balance-container .total-balance-currency {
  line-height: 1.3;
  color: #99a1ae;
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
}
@media screen and (max-width: 1180px) {
  .row .wallet-inform-container .general-balance-container .general-balance-content .total-balance-container .total-balance-currency {
    font-size: 12px;
  }
}
.row .wallet-inform-container .general-balance-container .general-balance-content .total-balance-container .total-balance-entry {
  white-space: nowrap;
  line-height: 1;
  font-size: 32px;
}
@media screen and (max-width: 1180px) {
  .row .wallet-inform-container .general-balance-container .general-balance-content .total-balance-container .total-balance-entry {
    font-size: 24px;
  }
}

.wallets-row {
  height: auto;
  margin-top: 15px;
  padding: 0px 12px;
  /* .carrousel-title {
  } */
}
.wallets-row:last-child {
  margin-bottom: 0;
}
.wallets-row .alice-carousel {
  position: relative;
  width: calc(100% + 20px);
  margin-left: -10px;
}
.wallets-row .alice-carousel div .alice-carousel__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
}
.wallets-row .alice-carousel .alice-carousel__prev-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  transition: all 150s ease-in-out;
}
.wallets-row .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper .alice-carousel__prev-btn-item {
  background: transparent;
  color: #000;
}
.wallets-row .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper .alice-carousel__prev-btn-item:hover {
  background: linear-gradient(90deg, #faf9f9 0%, #a91f1f00 100%);
}
.wallets-row .alice-carousel .alice-carousel__next-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 130px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  transition: all 150ms ease-in-out;
}
.wallets-row .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-wrapper .alice-carousel__next-btn-item {
  background: transparent;
  color: #000;
}
.wallets-row .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-wrapper .alice-carousel__next-btn-item:hover {
  background: linear-gradient(90deg, #a91f1f00 0%, #faf9f9 100%);
}
.wallets-row .alice-carousel .arrow-size, .wallets-row .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper, .wallets-row .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper .alice-carousel__prev-btn-item, .wallets-row .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-wrapper, .wallets-row .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-wrapper .alice-carousel__next-btn-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 150s ease-in-out;
}
.wallets-row .alice-carousel .alice-carousel__dots {
  margin: 5px;
}

.alice-carousel__stage-item {
  padding: 0 10px;
}
.alice-carousel__stage-item .wallet-carrousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  text-decoration: none;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
  -webkit-user-drag: none;
  -moz-user-drag: none;
  cursor: pointer;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  transition: all 150ms ease-in-out;
}
.alice-carousel__stage-item .wallet-carrousel-container:hover {
  filter: brightness(1.1);
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  margin: 0px 10px;
  padding-left: 20px;
  background-color: #fff;
  overflow: hidden;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .description .wallet-carrousel-item-image {
  width: auto;
  height: 50px;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .description .wallet-carrousel-item-emoji {
  position: absolute;
  z-index: 1;
  bottom: 18px;
  left: 20px;
  filter: grayscale(20%);
  font-size: 40px;
  line-height: 1;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .description .wallet-carrousel-item-name {
  position: relative;
  z-index: 2;
  margin-bottom: 7px;
  font-size: 28px;
  font-weight: 700;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .balance {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 18px;
  padding-right: 20px;
  margin-top: 7px;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .balance .wallet-carrousel-item-currency {
  font-weight: 600;
  margin-right: 5px;
}
.alice-carousel__stage-item .wallet-carrousel-container .wallet-carrousel-item .balance .wallet-carrousel-item-balance {
  font-weight: 700;
}

.__inactive {
  display: none !important;
}

.alice-carousel__dots-item.__active {
  background-color: #ffc000 !important;
}

.alice-carousel__dots-item {
  background-color: #fde6a1 !important;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ff859d;
}

.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #bc5062;
}

.st2 {
  fill: #ffed33;
}

.st3 {
  display: none;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #d49000;
}

.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #fac900;
}

/*# sourceMappingURL=wallets.css.map */
